body {
  background-color:rgb(151, 238, 209);
  background-image:url(https://image.shutterstock.com/image-photo/backgrounds-colorful-many-roll-currency-600w-258312164.jpg);
}

h1 {
  color: green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5rem;
}

h4 {
  color: rgb(115, 189, 164);
}

.btn {
  padding: 6px;
  margin:5px;
  color: rgb(80, 167, 238);
  background-color: white;
  border-radius: 0.7rem;
  border:.2rem rgb(80, 167, 238);
  border-style: inset ridge;
  font-family: impact;
  width: 25%;
}

.container {
  background-color: white;
}

.exchange {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.show-errors {
  color: red;
  font-size: large;
}